#tryingFinding_ipFinder {
  margin-top: 110px;
}

#reminder_ipFinder {
  margin-top: 20px;
}
#iteratePrc_ipFinder {
  margin-top: 47px;
}
#p_iterate_ipFinder {
  margin-top: 20px;
}

#p_resTitle_ipFinderRes {
  margin-top: 130px;
}
#p_resIPText_ipFinderRes {
  margin-top: 30px;
}
#btn_back_ipFinderRes {
  margin-top: 30px;
  margin-right: 20px;
}
#btn_continue_ipFinderRes {
  margin-top: 30px;
  margin-left: 20px;
}
